.clicked {
    background-size: cover;
    background-position: center;
    height: 170px;
    width: 170px;
    margin: 8px 25px;
    border: 5px solid rgb(241, 241, 241);
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
  }
  
  .clicked:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.1s;
  }
  
  .characters {
    height: 200px;
    border-radius: 5px;
    opacity: 0.8;

    transition: all 1s;
  }

  .characters:hover {
    opacity: 1;
  }

  .charImages {
    padding: 20px;
    margin: 20px;
    border: solid grey 1px;
    border-radius: 5px;
    background-color: #DDDDDD;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    transition: all 1s;
  }

  .charImages:hover {
    background-color: #AAAAAA;
  }